
es6
PART 1
A
module declaration

B
Binding of Functions
functions must be bound manually, The best place to do this is in the constructor

C
constructor syntax

PART 2
No using .js or .jsx doesn't matter since you have webpack/babel to transpile everything. Really the main difference is when you import files in, you have to include .jsx extension for jsx files where if it is just a js file, you can just put the file name. Ex : import File from './file.jsx' vs import File from './file'










